<nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/posts">Публикации</a></li>
      <li><a href="/add-post">Новая публикация</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </nav>